{% extends "base.twig" %}
{% block title %}Secrets{% endblock %}
{% block content %}
    <h1>Secrets</h1>
    <p>Save the secret codes</p>
    <table class="table table-bordered table-hover table-dark table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">#</th>
            <th scope="col">Code</th>
        </tr>
        </thead>
        <tbody>

        {% for secret in secrets %}

            {% if loop.index % 2 == 0 %}
                <tr>
                    <td>{{ p_code.number }}</td>
                    <td>{{ p_code.code }}</td>
                    <td>{{ secret.number }}</td>
                    <td>{{ secret.code }}</td>
                </tr>
            {% else %}
                {% set p_code = {'number': secret.number, 'code': secret.code} %}
            {% endif %}

        {% endfor %}
        </tbody>
    </table>

{% endblock %}