{% extends "base.twig" %}
{% block title %}Sign Up{% endblock %}

{% block content %}
    <h1>Sign Up</h1>
    <form method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" name="email">
            {% if errors.email %}
                <p>{{ errors.email }}</p>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username">
            {% if errors.username %}
                <p>{{ errors.username }}</p>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password">
            {% if errors.password %}
                <p>{{ errors.password }}</p>
            {% endif %}
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirm_password" name="confirm_password">
            {% if errors.confirm_password %}
                <p>{{ errors.confirm_password }}</p>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
{% endblock %}