version: '3'
services:
  smallword:
    container_name: smallword
    restart: unless-stopped
    build: .
    ports:
      - 80:5000
    volumes:
      - ./data:/app/data
      - ./settings:/app/settings
